@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.bg-light{
    background-color:  rgba(255, 144, 14, 0.1);
  }
  

/* navbar related css */
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.site-name{
    font-weight: 700px;
    font-size: 1.85rem;
    margin-left: 11px;
}
.logo{
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width:62px ;
    
}

.nav-link{
   text-decoration: none;
   font-weight: 700px;
   font-size: 1.25rem;
}
.active-1{
    color:#FEA301;
}
.active-2{
    color:#01ACFD;
}
.active-3{
    color:#05D4DF;
}
.active-4{
    color:#5D58EF;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .btn-primary{
   background-color: #FEA301;
   padding: 10px 60px;
   font-size: 1.25rem;
   font-weight: 600px;
   border-radius: 5px;
   border: none;
   color: #FFFFFF;
  }
  .display-hidden{
    display: none;
  }

  /* banner related css */
  .banner{
    max-width: 1158px;
    margin: 0 auto;
  }
  .banner-container{
    justify-content: space-around;
    align-items: center;
    gap:50px
  }
  .banner-image img{
    max-width: 450px;
    
  }
  #text-1{
    color: #FEA301;
  }
  #text-2{
    color:#01ACFD;
  }
  #text-3{
    color:#111111
  }
  .banner-title{
    font-weight: 700px;
    font-size: 3.5rem;
  }
  .banner-description{
    font-weight: 400px;
    font-size: 1.25rem;
    color:#111111;
  }
  .btn-primary-2{
    background-color:#111111;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 5px;
    border: none;
    color:#FFFFFF;
  }

  @media screen and (max-width:576px) {
    .site-name,
    .nav-links,
    .btn-primary
    {
        display:none;
    }
    .navbar{
        justify-content: space-between;
    }
    .display-hidden{
        display: block;
       
    }
    .logo img{
        max-width: 50px;
    }

    /* banner */
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:0px;
    }
    .banner-image img{
        max-width: 100%;
        
      }
     .banner{
        /* max-width: 1158px; */
        /* margin: 0 auto; */
      } 

  }

  
 
